.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding-top: 4rem;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  /* margin-top: 2rem; */
  /* flex: 1; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
 
}
@media (max-width: 600px) {
  .main{
    padding: 2rem;
  }
}
.containerIcon {
  position: absolute;
  top: 10%;
  /* right: 10%; */
  /* background-color: red; */
  width: 60px;
  height: 60px;
  animation-name: example3;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
 
}
@keyframes example3 {
  0%   {width: 60px; left:0px; top:10%;}
  25%  {width: 40px; left:0px; top:10%;}
  50%  {width: 60px; left:0px; top:10%;}
  75%  {width: 20px; left:0px; top:10%;}
  100% {width: 60px; left:0px; top:10%;}
}


/* const Img3 =styled.div`
  position: absolute;
  top: 10%;
  width: 60px;
  height: 60px;
  animation-name: example3;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  @keyframes example3 {
  0%   {width: 60px; left:0px; top:10%;}
  25%  {width: 40px; left:0px; top:10%;}
  50%  {width: 60px; left:0px; top:10%;}
  75%  {width: 20px; left:0px; top:10%;}
  100% {width: 60px; left:0px; top:10%;}
}
` */
.footer {
  display: flex;
  flex: 1;
  /* padding-top: 1rem ; */
  padding-bottom: 2rem ;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}


/* contact page wave */
.contactForm{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.wavehand {
  height: 200px;
  width: 200px;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
/*socials */

.socials_container{
  position: fixed;
  bottom: -10px;
  right: 100px;
  color: blue;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.socials_img{
  margin: 10px 0px;
}

.socials_hr{
  width: 0px;
  height: 100px;
  border: 1px solid black;
  
}
@media only screen and (max-width: 1200px) {
  .socials_container{
      display: flex;
      position: none;
      position: fixed;
      bottom: -10px;
      right: 50px;
      /* flex-direction: row; */
  }
}
@media only screen and (max-width: 600px) {
  .socials_container{
      display: flex;
      position: none;
      position: fixed;
      bottom: -10px;
      right: 5px;
      /* flex-direction: row; */
  }
}